In [30]:
# This tells matplotlib not to try opening a new window for each plot.
%matplotlib inline

# Import a bunch of libraries.
import pandas as pd
import re
import string
import nltk
import json

from nltk.stem.porter import PorterStemmer
from sklearn.model_selection import train_test_split

## Helper Functions

In [45]:
#Helper Functions
# remove special char
#This function removes , special characters, digits and stopwords from the data 

def clean_text_data(text_data):
    #Lowercase the reviews
    text_data=text_data.apply(lambda x: x.lower() if type(x) == str else x)

    #Remove digits and words containing digits
    text_data=text_data.apply(lambda x: re.sub('\w*\d\w*','', x) if type(x) == str else x)

    #Remove Excape Characters
    text_data=text_data.apply(lambda x: re.sub(r'(\\r\\n)+', ' ', x) if type(x) == str else x)
    
    #Remove Punctuations
    text_data=text_data.apply(lambda x: re.sub('[%s]' % re.escape(string.punctuation), '', x) if type(x) == str else x)
    
    # Removing extra spaces
    text_data=text_data.apply(lambda x: re.sub(' +',' ',x) if type(x) == str else x)
    
    # Removing URLs
    text_data=text_data.apply(lambda x: re.sub(r'http\w*', 'httplink', x) if type(x) == str else x)
   
    #Porter Stemmer
    porter = PorterStemmer()
    text_data = [porter.stem(word) for word in text_data]

    return text_data


# read city names:
def readCityNamesFromFile():
    with open('../data/city_names.txt') as f:
        lines = [line.rstrip().lower() for line in f]
    return lines
    
    
city_names = readCityNamesFromFile()

Get Merchant Target Names List - Create Dataframe

In [46]:
from top_merchants import top_merchants_list
df = pd.DataFrame(top_merchants_list, columns=["auth_merch_name"])

In [47]:
df.head()

   auth_merch_name
0  amc market fair
1            ave m
2       deli grill
3   food mart sour
4     greentree rd

### Clean merchant column - repove special char pantuationc and porter stem it

In [48]:
train_mname_1 = df["auth_merch_name"].map(str)
mname_train_mname_1_squeeze = train_mname_1.squeeze()
mname_1_train =  clean_text_data(mname_train_mname_1_squeeze) #clean text to remove stop words and especial characters 
mname_1_train_df = pd.DataFrame(mname_1_train, columns=['mname'])
df['mname'] =  mname_1_train
df.head(5)

   auth_merch_name            mname
0  amc market fair  amc market fair
1            ave m            ave m
2       deli grill        deli gril
3   food mart sour   food mart sour
4     greentree rd     greentree rd

In [49]:
# drom merchant name as it is nto needed anymore
df = df.drop(columns=['auth_merch_name'],axis=1)
df['mname'] = df['mname'].str.strip()

df.head()

             mname
0  amc market fair
1            ave m
2        deli gril
3   food mart sour
4     greentree rd

In [50]:
df_train = pd.DataFrame(df.mname)
type(df_train)
df_train.head(10)

                       mname
0            amc market fair
1                      ave m
2                  deli gril
3             food mart sour
4               greentree rd
5        leaf clover protein
6                   market c
7                  marketsid
8               meeting hous
9  pbi flagler gou west palm

In [51]:
df_train.to_csv('../data/df_target.csv', index=False)